
.prompt > div[data-v-72282020] {
  padding: 15px 30px;
  font-size: 14px;
  border-radius: 5px;
  position: fixed;
  z-index: 99999;
  left: 50%;
  transform: translateX(-50%);
  animation: showPromptAnimation 2s ease-out;
  animation-fill-mode: forwards;
}
.success[data-v-72282020] {
  color: green;
  background: #f0f9eb;
}
.error[data-v-72282020] {
  color: red;
  background: #fef0f0;
}
@keyframes showPromptAnimation {
0% {
    top: 0px;
    opacity: 0;
}
20% {
    top: 80px;
    opacity: 1;
}
80% {
    top: 80px;
    opacity: 1;
}
100% {
    top: 0px;
    opacity: 0;
}
}
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}


/* Fancy blur effect */

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}


/* Remove these to get rid of the spinner */

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html,body{
   margin:0px;
   width:100%;
   min-height:100%;
/*
   background:linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
*/
   background:#ccffcc;
}
.pageContent{
   padding-top:60px;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width:100%;
}

html[data-v-edc3092c],
body[data-v-edc3092c],
div[data-v-edc3092c],
span[data-v-edc3092c],
object[data-v-edc3092c],
iframe[data-v-edc3092c],
h1[data-v-edc3092c],
h2[data-v-edc3092c],
h3[data-v-edc3092c],
h4[data-v-edc3092c],
h5[data-v-edc3092c],
h6[data-v-edc3092c],
p[data-v-edc3092c],
blockquote[data-v-edc3092c],
pre[data-v-edc3092c],
abbr[data-v-edc3092c],
address[data-v-edc3092c],
cite[data-v-edc3092c],
code[data-v-edc3092c],
del[data-v-edc3092c],
dfn[data-v-edc3092c],
em[data-v-edc3092c],
img[data-v-edc3092c],
ins[data-v-edc3092c],
kbd[data-v-edc3092c],
q[data-v-edc3092c],
samp[data-v-edc3092c],
small[data-v-edc3092c],
strong[data-v-edc3092c],
sub[data-v-edc3092c],
sup[data-v-edc3092c],
var[data-v-edc3092c],
b[data-v-edc3092c],
i[data-v-edc3092c],
dl[data-v-edc3092c],
dt[data-v-edc3092c],
dd[data-v-edc3092c],
ol[data-v-edc3092c],
ul[data-v-edc3092c],
li[data-v-edc3092c],
fieldset[data-v-edc3092c],
form[data-v-edc3092c],
label[data-v-edc3092c],
legend[data-v-edc3092c],
table[data-v-edc3092c],
caption[data-v-edc3092c],
tbody[data-v-edc3092c],
tfoot[data-v-edc3092c],
thead[data-v-edc3092c],
tr[data-v-edc3092c],
th[data-v-edc3092c],
td[data-v-edc3092c],
article[data-v-edc3092c],
aside[data-v-edc3092c],
canvas[data-v-edc3092c],
details[data-v-edc3092c],
figcaption[data-v-edc3092c],
figure[data-v-edc3092c],
footer[data-v-edc3092c],
header[data-v-edc3092c],
hgroup[data-v-edc3092c],
menu[data-v-edc3092c],
nav[data-v-edc3092c],
section[data-v-edc3092c],
summary[data-v-edc3092c],
time[data-v-edc3092c],
mark[data-v-edc3092c],
audio[data-v-edc3092c],
video[data-v-edc3092c] {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
*[data-v-edc3092c] {
  box-sizing: border-box;
}
h1[data-v-edc3092c],
h2[data-v-edc3092c],
h3[data-v-edc3092c],
h4[data-v-edc3092c],
h5[data-v-edc3092c],
h6[data-v-edc3092c],
em[data-v-edc3092c],
i[data-v-edc3092c] {
  font-weight: 100;
  font-style: normal;
}
ul[data-v-edc3092c],
ol[data-v-edc3092c],
li[data-v-edc3092c] {
  list-style-type: none;
}
a[data-v-edc3092c] {
  color: #666;
  text-decoration: none;
  outline: 0;
}
a[data-v-edc3092c]:hover {
  text-decoration: none;
}
.fl[data-v-edc3092c] {
  float: left;
}
.fr[data-v-edc3092c] {
  float: right;
}
.container[data-v-edc3092c] {
  max-width: 1360px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.list-model1 .item[data-v-edc3092c] {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.list-model1 .item p[data-v-edc3092c]:nth-child(1) {
  font-size: 24px;
  transition: color 0.3s ease;
  color: #1bbc9b;
}
.list-model1 .item p:nth-child(1) > a[data-v-edc3092c] {
  font-size: 24px;
  transition: color 0.3s ease;
  color: #1bbc9b;
}
.list-model1 .item p:nth-child(1) > a[data-v-edc3092c]:hover {
  color: #CD6600;
}
.list-model1 .item div[data-v-edc3092c]:nth-child(2) {
  margin-bottom: 10px;
  font-size: 12px;
  color: #ccc;
  padding-bottom: 5px;
  border-bottom: 1px dashed #ddd;
  margin-top: 20px;
}
.list-model1 .item a[data-v-edc3092c]:nth-child(3) {
  position: absolute;
  right: 50px;
  top: 18px;
  color: #1bbc9b;
}
.list-model1 .item .list1-content[data-v-edc3092c] {
  border-bottom: 1px solid #d3d7d9;
  position: relative;
  min-height: 170px;
}
.list-model1 .item .list1-content img[data-v-edc3092c] {
  position: absolute;
  width: 250px;
  height: 150px;
}
.list-model1 .item .list1-content p[data-v-edc3092c] {
  padding-left: 270px;
  line-height: 30px;
}
.list-mode2[data-v-edc3092c] {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
}
.list-mode2 > div[data-v-edc3092c] {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  width: calc(33.33333333%);
}
.list-mode2 > div > div[data-v-edc3092c] {
  padding: 20px;
  color: #666;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}
.list-mode2 > div > div > img[data-v-edc3092c] {
  width: 100%;
}
.list-mode2 > div > div > p[data-v-edc3092c]:nth-child(2) {
  margin-top: 20px;
  font-size: 16px;
  color: #1bbc9b;
}
.list-mode2 > div > div > p[data-v-edc3092c]:nth-child(3) {
  margin-top: 10px;
  line-height: 30px;
}
.container[data-v-edc3092c]:after {
  clear: both;
}
.hide[data-v-edc3092c] {
  display: none;
}
.main-right .main[data-v-edc3092c] {
  width: 100%;
  position: relative;
  float: left;
  padding-bottom: 20px;
}
.main-right .main > div[data-v-edc3092c] {
  margin-right: 360px;
}
.main-right .main > div > div[data-v-edc3092c]:nth-child(1) {
  background: #fff;
}
.main-right .right[data-v-edc3092c] {
  float: left;
  margin-left: -340px;
  right: 0px;
  background: #fff;
  overflow: hidden;
  width: 340px;
}
.closeFrame[data-v-edc3092c] {
  background: #fff;
  border: 2px solid #d3d7d9;
  border-radius: 50%;
  color: #d3d7d9;
  position: absolute;
  width: 25px;
  height: 25px;
  right: 15px;
  padding-left: 7px;
  top: 10px;
  cursor: pointer;
}
.closeFrame[data-v-edc3092c]:hover {
  color: #1bbc9b;
  border: 2px solid #1bbc9b;
}
.hidenError[data-v-edc3092c] {
  visibility: hidden;
}
.showError[data-v-edc3092c] {
  visibility: visible;
}
.none[data-v-edc3092c] {
  display: none;
}
@keyframes showFrameAnimation {
0% {
    transform: rotateY(0deg) scale(0);
}
50% {
    transform: rotateY(90deg) scale(0.5);
}
100% {
    transform: rotateY(0deg) scale(1);
}
}
@keyframes hideFrameAnimation {
0% {
    transform: rotateY(0deg) scale(1);
}
50% {
    transform: rotateY(90deg) scale(0.5);
}
100% {
    transform: rotateY(0deg) scale(0);
}
}
@keyframes maskShow {
0% {
    height: 100%;
    opacity: 0.7;
}
100% {
    opacity: 0;
    height: 100%;
}
}
.wrapper[data-v-edc3092c] {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  height: 200px;
}
.box[data-v-edc3092c] {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  -webkit-transform: translateY(0) rotate(0deg);
  transform: translateY(0) rotate(0deg);
  -webkit-animation: change 1s infinite alternate;
  animation: change 1s infinite alternate;
}
.box[data-v-edc3092c]:nth-child(1) {
  background-color: #FF0033;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.box[data-v-edc3092c]:nth-child(2) {
  background-color: #FFFF00;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.box[data-v-edc3092c]:nth-child(3) {
  background-color: #003399;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.box[data-v-edc3092c]:nth-child(4) {
  background-color: #99CC33;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.box[data-v-edc3092c]:nth-child(5) {
  background-color: #99CCFF;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.box[data-v-edc3092c]:nth-child(6) {
  background-color: #08D9D6;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.box[data-v-edc3092c]:nth-child(7) {
  background-color: #9933FF;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.box[data-v-edc3092c]:nth-child(8) {
  background-color: #FF6600;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.box[data-v-edc3092c]:nth-child(9) {
  background-color: #FF2E63;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.box[data-v-edc3092c]:nth-child(10) {
  background-color: #996600;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
@keyframes change {
0% {
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg);
    border-radius: 50%;
}
50% {
    -webkit-transform: translateY(150px) rotate(180deg);
    transform: translateY(150px) rotate(180deg);
    border-radius: 50%;
}
100% {
    -webkit-transform: translateY(0px) rotate(360deg);
    transform: translateY(0px) rotate(360deg);
    border-radius: 50%;
}
}

html[data-v-1043aa74],
body[data-v-1043aa74],
div[data-v-1043aa74],
span[data-v-1043aa74],
object[data-v-1043aa74],
iframe[data-v-1043aa74],
h1[data-v-1043aa74],
h2[data-v-1043aa74],
h3[data-v-1043aa74],
h4[data-v-1043aa74],
h5[data-v-1043aa74],
h6[data-v-1043aa74],
p[data-v-1043aa74],
blockquote[data-v-1043aa74],
pre[data-v-1043aa74],
abbr[data-v-1043aa74],
address[data-v-1043aa74],
cite[data-v-1043aa74],
code[data-v-1043aa74],
del[data-v-1043aa74],
dfn[data-v-1043aa74],
em[data-v-1043aa74],
img[data-v-1043aa74],
ins[data-v-1043aa74],
kbd[data-v-1043aa74],
q[data-v-1043aa74],
samp[data-v-1043aa74],
small[data-v-1043aa74],
strong[data-v-1043aa74],
sub[data-v-1043aa74],
sup[data-v-1043aa74],
var[data-v-1043aa74],
b[data-v-1043aa74],
i[data-v-1043aa74],
dl[data-v-1043aa74],
dt[data-v-1043aa74],
dd[data-v-1043aa74],
ol[data-v-1043aa74],
ul[data-v-1043aa74],
li[data-v-1043aa74],
fieldset[data-v-1043aa74],
form[data-v-1043aa74],
label[data-v-1043aa74],
legend[data-v-1043aa74],
table[data-v-1043aa74],
caption[data-v-1043aa74],
tbody[data-v-1043aa74],
tfoot[data-v-1043aa74],
thead[data-v-1043aa74],
tr[data-v-1043aa74],
th[data-v-1043aa74],
td[data-v-1043aa74],
article[data-v-1043aa74],
aside[data-v-1043aa74],
canvas[data-v-1043aa74],
details[data-v-1043aa74],
figcaption[data-v-1043aa74],
figure[data-v-1043aa74],
footer[data-v-1043aa74],
header[data-v-1043aa74],
hgroup[data-v-1043aa74],
menu[data-v-1043aa74],
nav[data-v-1043aa74],
section[data-v-1043aa74],
summary[data-v-1043aa74],
time[data-v-1043aa74],
mark[data-v-1043aa74],
audio[data-v-1043aa74],
video[data-v-1043aa74] {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
*[data-v-1043aa74] {
  box-sizing: border-box;
}
h1[data-v-1043aa74],
h2[data-v-1043aa74],
h3[data-v-1043aa74],
h4[data-v-1043aa74],
h5[data-v-1043aa74],
h6[data-v-1043aa74],
em[data-v-1043aa74],
i[data-v-1043aa74] {
  font-weight: 100;
  font-style: normal;
}
ul[data-v-1043aa74],
ol[data-v-1043aa74],
li[data-v-1043aa74] {
  list-style-type: none;
}
a[data-v-1043aa74] {
  color: #666;
  text-decoration: none;
  outline: 0;
}
a[data-v-1043aa74]:hover {
  text-decoration: none;
}
.fl[data-v-1043aa74] {
  float: left;
}
.fr[data-v-1043aa74] {
  float: right;
}
.container[data-v-1043aa74] {
  max-width: 1360px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.list-model1 .item[data-v-1043aa74] {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.list-model1 .item p[data-v-1043aa74]:nth-child(1) {
  font-size: 24px;
  transition: color 0.3s ease;
  color: #1bbc9b;
}
.list-model1 .item p:nth-child(1) > a[data-v-1043aa74] {
  font-size: 24px;
  transition: color 0.3s ease;
  color: #1bbc9b;
}
.list-model1 .item p:nth-child(1) > a[data-v-1043aa74]:hover {
  color: #CD6600;
}
.list-model1 .item div[data-v-1043aa74]:nth-child(2) {
  margin-bottom: 10px;
  font-size: 12px;
  color: #ccc;
  padding-bottom: 5px;
  border-bottom: 1px dashed #ddd;
  margin-top: 20px;
}
.list-model1 .item a[data-v-1043aa74]:nth-child(3) {
  position: absolute;
  right: 50px;
  top: 18px;
  color: #1bbc9b;
}
.list-model1 .item .list1-content[data-v-1043aa74] {
  border-bottom: 1px solid #d3d7d9;
  position: relative;
  min-height: 170px;
}
.list-model1 .item .list1-content img[data-v-1043aa74] {
  position: absolute;
  width: 250px;
  height: 150px;
}
.list-model1 .item .list1-content p[data-v-1043aa74] {
  padding-left: 270px;
  line-height: 30px;
}
.list-mode2[data-v-1043aa74] {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
}
.list-mode2 > div[data-v-1043aa74] {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  width: calc(33.33333333%);
}
.list-mode2 > div > div[data-v-1043aa74] {
  padding: 20px;
  color: #666;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}
.list-mode2 > div > div > img[data-v-1043aa74] {
  width: 100%;
}
.list-mode2 > div > div > p[data-v-1043aa74]:nth-child(2) {
  margin-top: 20px;
  font-size: 16px;
  color: #1bbc9b;
}
.list-mode2 > div > div > p[data-v-1043aa74]:nth-child(3) {
  margin-top: 10px;
  line-height: 30px;
}
.container[data-v-1043aa74]:after {
  clear: both;
}
.hide[data-v-1043aa74] {
  display: none;
}
.main-right .main[data-v-1043aa74] {
  width: 100%;
  position: relative;
  float: left;
  padding-bottom: 20px;
}
.main-right .main > div[data-v-1043aa74] {
  margin-right: 360px;
}
.main-right .main > div > div[data-v-1043aa74]:nth-child(1) {
  background: #fff;
}
.main-right .right[data-v-1043aa74] {
  float: left;
  margin-left: -340px;
  right: 0px;
  background: #fff;
  overflow: hidden;
  width: 340px;
}
.closeFrame[data-v-1043aa74] {
  background: #fff;
  border: 2px solid #d3d7d9;
  border-radius: 50%;
  color: #d3d7d9;
  position: absolute;
  width: 25px;
  height: 25px;
  right: 15px;
  padding-left: 7px;
  top: 10px;
  cursor: pointer;
}
.closeFrame[data-v-1043aa74]:hover {
  color: #1bbc9b;
  border: 2px solid #1bbc9b;
}
.hidenError[data-v-1043aa74] {
  visibility: hidden;
}
.showError[data-v-1043aa74] {
  visibility: visible;
}
.none[data-v-1043aa74] {
  display: none;
}
@keyframes showFrameAnimation {
0% {
    transform: rotateY(0deg) scale(0);
}
50% {
    transform: rotateY(90deg) scale(0.5);
}
100% {
    transform: rotateY(0deg) scale(1);
}
}
@keyframes hideFrameAnimation {
0% {
    transform: rotateY(0deg) scale(1);
}
50% {
    transform: rotateY(90deg) scale(0.5);
}
100% {
    transform: rotateY(0deg) scale(0);
}
}
@keyframes maskShow {
0% {
    height: 100%;
    opacity: 0.7;
}
100% {
    opacity: 0;
    height: 100%;
}
}
.footer[data-v-1043aa74] {
  height: 60px;
  width: 100%;
  background: #333;
  text-align: center;
  clear: both;
}
.footer > p[data-v-1043aa74] {
  line-height: 60px;
  color: #fff;
}

html[data-v-19108eb8],
body[data-v-19108eb8],
div[data-v-19108eb8],
span[data-v-19108eb8],
object[data-v-19108eb8],
iframe[data-v-19108eb8],
h1[data-v-19108eb8],
h2[data-v-19108eb8],
h3[data-v-19108eb8],
h4[data-v-19108eb8],
h5[data-v-19108eb8],
h6[data-v-19108eb8],
p[data-v-19108eb8],
blockquote[data-v-19108eb8],
pre[data-v-19108eb8],
abbr[data-v-19108eb8],
address[data-v-19108eb8],
cite[data-v-19108eb8],
code[data-v-19108eb8],
del[data-v-19108eb8],
dfn[data-v-19108eb8],
em[data-v-19108eb8],
img[data-v-19108eb8],
ins[data-v-19108eb8],
kbd[data-v-19108eb8],
q[data-v-19108eb8],
samp[data-v-19108eb8],
small[data-v-19108eb8],
strong[data-v-19108eb8],
sub[data-v-19108eb8],
sup[data-v-19108eb8],
var[data-v-19108eb8],
b[data-v-19108eb8],
i[data-v-19108eb8],
dl[data-v-19108eb8],
dt[data-v-19108eb8],
dd[data-v-19108eb8],
ol[data-v-19108eb8],
ul[data-v-19108eb8],
li[data-v-19108eb8],
fieldset[data-v-19108eb8],
form[data-v-19108eb8],
label[data-v-19108eb8],
legend[data-v-19108eb8],
table[data-v-19108eb8],
caption[data-v-19108eb8],
tbody[data-v-19108eb8],
tfoot[data-v-19108eb8],
thead[data-v-19108eb8],
tr[data-v-19108eb8],
th[data-v-19108eb8],
td[data-v-19108eb8],
article[data-v-19108eb8],
aside[data-v-19108eb8],
canvas[data-v-19108eb8],
details[data-v-19108eb8],
figcaption[data-v-19108eb8],
figure[data-v-19108eb8],
footer[data-v-19108eb8],
header[data-v-19108eb8],
hgroup[data-v-19108eb8],
menu[data-v-19108eb8],
nav[data-v-19108eb8],
section[data-v-19108eb8],
summary[data-v-19108eb8],
time[data-v-19108eb8],
mark[data-v-19108eb8],
audio[data-v-19108eb8],
video[data-v-19108eb8] {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
*[data-v-19108eb8] {
  box-sizing: border-box;
}
h1[data-v-19108eb8],
h2[data-v-19108eb8],
h3[data-v-19108eb8],
h4[data-v-19108eb8],
h5[data-v-19108eb8],
h6[data-v-19108eb8],
em[data-v-19108eb8],
i[data-v-19108eb8] {
  font-weight: 100;
  font-style: normal;
}
ul[data-v-19108eb8],
ol[data-v-19108eb8],
li[data-v-19108eb8] {
  list-style-type: none;
}
a[data-v-19108eb8] {
  color: #666;
  text-decoration: none;
  outline: 0;
}
a[data-v-19108eb8]:hover {
  text-decoration: none;
}
.fl[data-v-19108eb8] {
  float: left;
}
.fr[data-v-19108eb8] {
  float: right;
}
.container[data-v-19108eb8] {
  max-width: 1360px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.list-model1 .item[data-v-19108eb8] {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.list-model1 .item p[data-v-19108eb8]:nth-child(1) {
  font-size: 24px;
  transition: color 0.3s ease;
  color: #1bbc9b;
}
.list-model1 .item p:nth-child(1) > a[data-v-19108eb8] {
  font-size: 24px;
  transition: color 0.3s ease;
  color: #1bbc9b;
}
.list-model1 .item p:nth-child(1) > a[data-v-19108eb8]:hover {
  color: #CD6600;
}
.list-model1 .item div[data-v-19108eb8]:nth-child(2) {
  margin-bottom: 10px;
  font-size: 12px;
  color: #ccc;
  padding-bottom: 5px;
  border-bottom: 1px dashed #ddd;
  margin-top: 20px;
}
.list-model1 .item a[data-v-19108eb8]:nth-child(3) {
  position: absolute;
  right: 50px;
  top: 18px;
  color: #1bbc9b;
}
.list-model1 .item .list1-content[data-v-19108eb8] {
  border-bottom: 1px solid #d3d7d9;
  position: relative;
  min-height: 170px;
}
.list-model1 .item .list1-content img[data-v-19108eb8] {
  position: absolute;
  width: 250px;
  height: 150px;
}
.list-model1 .item .list1-content p[data-v-19108eb8] {
  padding-left: 270px;
  line-height: 30px;
}
.list-mode2[data-v-19108eb8] {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
}
.list-mode2 > div[data-v-19108eb8] {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  width: calc(33.33333333%);
}
.list-mode2 > div > div[data-v-19108eb8] {
  padding: 20px;
  color: #666;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}
.list-mode2 > div > div > img[data-v-19108eb8] {
  width: 100%;
}
.list-mode2 > div > div > p[data-v-19108eb8]:nth-child(2) {
  margin-top: 20px;
  font-size: 16px;
  color: #1bbc9b;
}
.list-mode2 > div > div > p[data-v-19108eb8]:nth-child(3) {
  margin-top: 10px;
  line-height: 30px;
}
.container[data-v-19108eb8]:after {
  clear: both;
}
.hide[data-v-19108eb8] {
  display: none;
}
.main-right .main[data-v-19108eb8] {
  width: 100%;
  position: relative;
  float: left;
  padding-bottom: 20px;
}
.main-right .main > div[data-v-19108eb8] {
  margin-right: 360px;
}
.main-right .main > div > div[data-v-19108eb8]:nth-child(1) {
  background: #fff;
}
.main-right .right[data-v-19108eb8] {
  float: left;
  margin-left: -340px;
  right: 0px;
  background: #fff;
  overflow: hidden;
  width: 340px;
}
.closeFrame[data-v-19108eb8] {
  background: #fff;
  border: 2px solid #d3d7d9;
  border-radius: 50%;
  color: #d3d7d9;
  position: absolute;
  width: 25px;
  height: 25px;
  right: 15px;
  padding-left: 7px;
  top: 10px;
  cursor: pointer;
}
.closeFrame[data-v-19108eb8]:hover {
  color: #1bbc9b;
  border: 2px solid #1bbc9b;
}
.hidenError[data-v-19108eb8] {
  visibility: hidden;
}
.showError[data-v-19108eb8] {
  visibility: visible;
}
.none[data-v-19108eb8] {
  display: none;
}
@keyframes showFrameAnimation {
0% {
    transform: rotateY(0deg) scale(0);
}
50% {
    transform: rotateY(90deg) scale(0.5);
}
100% {
    transform: rotateY(0deg) scale(1);
}
}
@keyframes hideFrameAnimation {
0% {
    transform: rotateY(0deg) scale(1);
}
50% {
    transform: rotateY(90deg) scale(0.5);
}
100% {
    transform: rotateY(0deg) scale(0);
}
}
@keyframes maskShow {
0% {
    height: 100%;
    opacity: 0.7;
}
100% {
    opacity: 0;
    height: 100%;
}
}
.header[data-v-19108eb8] {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #333;
  color: #fff;
  z-index: 3000;
  transition: all 1s ease;
}
.header .router-link-active[data-v-19108eb8] {
  color: #1bbc9b;
}
.header .loginOrRegist[data-v-19108eb8] {
  float: right;
  margin-top: 18px;
}
.header .loginOrRegist a[data-v-19108eb8] {
  color: #fff;
  cursor: pointer;
}
.header .loginOrRegist a[data-v-19108eb8]:hover {
  color: #1bbc9b;
}
.header .my-logo[data-v-19108eb8] {
  float: left;
  font-family: 'Open Sans', sans-serif;
  text-shadow: -2px 2px 4px #ffffff;
  font-style: italic;
  font-size: 2em;
  display: inline-block;
  position: relative;
  margin-top: 5px;
}
.header .my-logo a[data-v-19108eb8] {
  color: #1bbc9b;
}
.header ul[data-v-19108eb8] {
  line-height: 60px;
  margin-left: 40px;
  float: left;
}
.header ul li[data-v-19108eb8] {
  float: left;
  margin: 0px 20px;
}
.header ul li a[data-v-19108eb8] {
  color: #999;
}
.header ul li a[data-v-19108eb8]:hover {
  color: #1bbc9b;
}

html[data-v-44973816],
body[data-v-44973816],
div[data-v-44973816],
span[data-v-44973816],
object[data-v-44973816],
iframe[data-v-44973816],
h1[data-v-44973816],
h2[data-v-44973816],
h3[data-v-44973816],
h4[data-v-44973816],
h5[data-v-44973816],
h6[data-v-44973816],
p[data-v-44973816],
blockquote[data-v-44973816],
pre[data-v-44973816],
abbr[data-v-44973816],
address[data-v-44973816],
cite[data-v-44973816],
code[data-v-44973816],
del[data-v-44973816],
dfn[data-v-44973816],
em[data-v-44973816],
img[data-v-44973816],
ins[data-v-44973816],
kbd[data-v-44973816],
q[data-v-44973816],
samp[data-v-44973816],
small[data-v-44973816],
strong[data-v-44973816],
sub[data-v-44973816],
sup[data-v-44973816],
var[data-v-44973816],
b[data-v-44973816],
i[data-v-44973816],
dl[data-v-44973816],
dt[data-v-44973816],
dd[data-v-44973816],
ol[data-v-44973816],
ul[data-v-44973816],
li[data-v-44973816],
fieldset[data-v-44973816],
form[data-v-44973816],
label[data-v-44973816],
legend[data-v-44973816],
table[data-v-44973816],
caption[data-v-44973816],
tbody[data-v-44973816],
tfoot[data-v-44973816],
thead[data-v-44973816],
tr[data-v-44973816],
th[data-v-44973816],
td[data-v-44973816],
article[data-v-44973816],
aside[data-v-44973816],
canvas[data-v-44973816],
details[data-v-44973816],
figcaption[data-v-44973816],
figure[data-v-44973816],
footer[data-v-44973816],
header[data-v-44973816],
hgroup[data-v-44973816],
menu[data-v-44973816],
nav[data-v-44973816],
section[data-v-44973816],
summary[data-v-44973816],
time[data-v-44973816],
mark[data-v-44973816],
audio[data-v-44973816],
video[data-v-44973816] {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
*[data-v-44973816] {
  box-sizing: border-box;
}
h1[data-v-44973816],
h2[data-v-44973816],
h3[data-v-44973816],
h4[data-v-44973816],
h5[data-v-44973816],
h6[data-v-44973816],
em[data-v-44973816],
i[data-v-44973816] {
  font-weight: 100;
  font-style: normal;
}
ul[data-v-44973816],
ol[data-v-44973816],
li[data-v-44973816] {
  list-style-type: none;
}
a[data-v-44973816] {
  color: #666;
  text-decoration: none;
  outline: 0;
}
a[data-v-44973816]:hover {
  text-decoration: none;
}
.fl[data-v-44973816] {
  float: left;
}
.fr[data-v-44973816] {
  float: right;
}
.container[data-v-44973816] {
  max-width: 1360px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.list-model1 .item[data-v-44973816] {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.list-model1 .item p[data-v-44973816]:nth-child(1) {
  font-size: 24px;
  transition: color 0.3s ease;
  color: #1bbc9b;
}
.list-model1 .item p:nth-child(1) > a[data-v-44973816] {
  font-size: 24px;
  transition: color 0.3s ease;
  color: #1bbc9b;
}
.list-model1 .item p:nth-child(1) > a[data-v-44973816]:hover {
  color: #CD6600;
}
.list-model1 .item div[data-v-44973816]:nth-child(2) {
  margin-bottom: 10px;
  font-size: 12px;
  color: #ccc;
  padding-bottom: 5px;
  border-bottom: 1px dashed #ddd;
  margin-top: 20px;
}
.list-model1 .item a[data-v-44973816]:nth-child(3) {
  position: absolute;
  right: 50px;
  top: 18px;
  color: #1bbc9b;
}
.list-model1 .item .list1-content[data-v-44973816] {
  border-bottom: 1px solid #d3d7d9;
  position: relative;
  min-height: 170px;
}
.list-model1 .item .list1-content img[data-v-44973816] {
  position: absolute;
  width: 250px;
  height: 150px;
}
.list-model1 .item .list1-content p[data-v-44973816] {
  padding-left: 270px;
  line-height: 30px;
}
.list-mode2[data-v-44973816] {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
}
.list-mode2 > div[data-v-44973816] {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  width: calc(33.33333333%);
}
.list-mode2 > div > div[data-v-44973816] {
  padding: 20px;
  color: #666;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}
.list-mode2 > div > div > img[data-v-44973816] {
  width: 100%;
}
.list-mode2 > div > div > p[data-v-44973816]:nth-child(2) {
  margin-top: 20px;
  font-size: 16px;
  color: #1bbc9b;
}
.list-mode2 > div > div > p[data-v-44973816]:nth-child(3) {
  margin-top: 10px;
  line-height: 30px;
}
.container[data-v-44973816]:after {
  clear: both;
}
.hide[data-v-44973816] {
  display: none;
}
.main-right .main[data-v-44973816] {
  width: 100%;
  position: relative;
  float: left;
  padding-bottom: 20px;
}
.main-right .main > div[data-v-44973816] {
  margin-right: 360px;
}
.main-right .main > div > div[data-v-44973816]:nth-child(1) {
  background: #fff;
}
.main-right .right[data-v-44973816] {
  float: left;
  margin-left: -340px;
  right: 0px;
  background: #fff;
  overflow: hidden;
  width: 340px;
}
.closeFrame[data-v-44973816] {
  background: #fff;
  border: 2px solid #d3d7d9;
  border-radius: 50%;
  color: #d3d7d9;
  position: absolute;
  width: 25px;
  height: 25px;
  right: 15px;
  padding-left: 7px;
  top: 10px;
  cursor: pointer;
}
.closeFrame[data-v-44973816]:hover {
  color: #1bbc9b;
  border: 2px solid #1bbc9b;
}
.hidenError[data-v-44973816] {
  visibility: hidden;
}
.showError[data-v-44973816] {
  visibility: visible;
}
.none[data-v-44973816] {
  display: none;
}
@keyframes showFrameAnimation {
0% {
    transform: rotateY(0deg) scale(0);
}
50% {
    transform: rotateY(90deg) scale(0.5);
}
100% {
    transform: rotateY(0deg) scale(1);
}
}
@keyframes hideFrameAnimation {
0% {
    transform: rotateY(0deg) scale(1);
}
50% {
    transform: rotateY(90deg) scale(0.5);
}
100% {
    transform: rotateY(0deg) scale(0);
}
}
@keyframes maskShow {
0% {
    height: 100%;
    opacity: 0.7;
}
100% {
    opacity: 0;
    height: 100%;
}
}
.mask[data-v-44973816] {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: 9998;
  background: #000;
  opacity: 0.7;
}
.loginAndRegist[data-v-44973816] {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  animation: showLoginAnimation 0.4s;
}
.login[data-v-44973816] {
  background: #fff;
  position: relative;
  padding: 20px;
  border-radius: 5px;
}
.login .title[data-v-44973816] {
  border-bottom: 1px solid #d3d7d9;
}
.login .title > span[data-v-44973816] {
  display: inline-block;
  width: 80px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.login .active[data-v-44973816] {
  border-bottom: 2px solid #1bbc9b;
  color: #1bbc9b;
}
.login .nomalInput[data-v-44973816] {
  padding: 30px 30px;
}
.login .nomalInput .inputClass[data-v-44973816] {
  margin-bottom: 10px;
}
.login .nomalInput .inputClass > input[data-v-44973816] {
  width: 279px;
  padding: 13px;
  background-color: #fff;
  border: 1px solid #d3d7d9;
  box-shadow: 2px 0px 5px 0px #fff;
  border-radius: 5px;
}
.login .nomalInput .inputClass > p[data-v-44973816] {
  font-size: 12px;
  padding-left: 5px;
  color: red;
}
.login .nomalInput > p[data-v-44973816] {
  text-align: center;
  font-size: 12px;
  color: red;
  margin-top: -15px;
}
.login .nomalInput .otherOpear[data-v-44973816] {
  font-size: 14px;
  color: #999;
}
.login .nomalInput .otherOpear > input[data-v-44973816]:nth-child(1) {
  vertical-align: -2px;
}
.login .nomalInput .otherOpear > a[data-v-44973816] {
  float: right;
  color: #1bbc9b;
}
.login .nomalInput > button[data-v-44973816] {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #1bbc9b;
  border: none;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}
.showAnimation .mask[data-v-44973816] {
  display: block;
}
.showAnimation .loginAndRegist[data-v-44973816] {
  animation: showFrameAnimation 0.4s ease-in;
  animation-fill-mode: forwards;
}
.hideAnimation .mask[data-v-44973816] {
  height: 0;
  animation: maskShow 0.4s ease-in;
}
.hideAnimation .loginAndRegist[data-v-44973816] {
  animation: hideFrameAnimation 0.2s;
  animation-fill-mode: forwards;
}

/*# sourceMappingURL=app.acb58e5.css.map*/